<div>
  <img src="../../assets/ArtoriasSif.png" alt="Artorias with Sif silhouette" />

  <div>
    <div>Welcome to the Artorias Project planner.</div>
    <br />
    <div>The Artorias Project planner. It is meant to be a fast and lightweight project planner and Kanban board. Great for tracking any type of project. The tool has two different views for all projects, a list view and a board view. The list view is a simple one line per item list, while the board view is a Kanban style board. The Kanban board is great for in progress work and quick organization and review of the project, while the list view is great for getting the project set up and adding new items. 

      Create a free account, set up a project, and add some items to get your project started.
    </div>
  </div>
</div>
