<link rel="stylesheet" href="app.component.css">

<nav mat-tab-nav-bar >
    <button mat-fab color="primary" routerLink="/users" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
    </button>

    <!--<a mat-tab-link disabled>Disabled Link</a>-->
</nav>

<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened>Menu
        <mat-list role="list">
            <mat-list-item role="listitem">    
                <button routerLink="/" routerLinkActive="active"> Home Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">    
                <button routerLink="/projects" routerLinkActive="active"> Projects Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/project" routerLinkActive="active">Project Page</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/list" routerLinkActive="active"> List Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button routerLink="/admin" routerLinkActive="active"> Admin Page </button>
            </mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>  

