<link rel="stylesheet" href="app.component.css">

<nav mat-tab-nav-bar class="headBar">
    <h1 style="width: 98%;">Welcome to Kanban board</h1>
    <button mat-raised-button class="" (click)="openLogin()">Log in </button>
    <button mat-raised-button (click)="openRegistration()">Register</button>>
    <button mat-raised-button (click)="createNewProject()">Create a project</button>
    <button mat-fab color="primary" routerLink="/users" routerLinkActive="active" class="settings">
        <mat-icon>settings</mat-icon>
    </button>

    <!--<a mat-tab-link disabled>Disabled Link</a>-->
</nav>
<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="sideNavMenu mat-elevation-z8">
        <h3 style="vertical-align: middle;">Menu</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-raised-button routerLink="/" routerLinkActive="active" class="menu-button" > Home Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button routerLink="/projects" routerLinkActive="active" class="menu-button"> Projects Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button routerLink="/board" routerLinkActive="active" class="menu-button"> Board Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button routerLink="/list" routerLinkActive="active" class="menu-button"> List Page </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button routerLink="/admin" routerLinkActive="active" class="menu-button"> Admin Page </button>
            </mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content class="main-content mat-elevation-z8">
        <router-outlet></router-outlet>
        <!-- <mat-card role="group" class="card">
            <mat-card-title>
                title
            </mat-card-title>
            <mat-card-content>
                content
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button>
                    action
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card  class="card">
            <button (click)="addCard()" class="menu-button" style="align-content: center;">
                <mat-icon >add_circle</mat-icon>
            </button>
            
        </mat-card> -->
    </mat-drawer-content>
</mat-drawer-container>  
