<div *ngIf="dataService.user; else loggedOut">
<button mat-raised-button (click)="openDialog()" color="primary">New Project</button>

<table mat-table [dataSource]="dataSource" class="content mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/list" routerLinkActive="active" (click)="dataService.setCurrentProject(element)">{{element.name}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/list" routerLinkActive="active" (click)="dataService.setCurrentProject(element)">{{element.description}}</a> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>
</div>
<ng-template #loggedOut>
  <p>You are not logged in!</p>
</ng-template>