.mat-row:nth-child(2n+1){
    background-color: yellowgreen;
}
.mat-row:nth-child(2n){
    background-color: whitesmoke;
}
.mat-header-row{
  background-color: dimgrey;
}
th{
  color: white;
}
.table-container{
  width: 100%;
}
.mat-row:hover{
  background-color: aqua;
}