<form #newItemForm=ngForm (ngSubmit) = onSubmit()>
    <mat-card>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput type="text" [formControl] = "name">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard">
                <mat-label>Status</mat-label>
                <input matInput type="text" [formControl] = "status">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard">
                <mat-label>Priority</mat-label>
                <input matInput type="text" [formControl] = "priority">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <input matInput type="text" [formControl] = "description">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="standard">
                <mat-label>Type</mat-label>
                <input matInput type="text" [formControl] = "type">
            </mat-form-field>
        </p>

        <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">Save and Add</button>
          </mat-card-actions>
    </mat-card>
</form>

<mat-list>
    <mat-list-item *ngFor="let item of items">{{item.name}}, {{item.status}}, {{item.priority}}, {{item.description}}, {{item.type}}</mat-list-item>
</mat-list>